body{
margin:0;
font-family:sans-serif;
background:#eef9ff;
}

#title{
position:absolute;
top:10px;
left:10px;
z-index:1;
background:white;
padding:10px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

#map{
width:100%;
height:100vh;
}